/archive/
/TRIAL/first/dataset/
/dogImages/
/TRIAL/ll-first/dataset/
/TRIAL/ll-first/best_model.keras
/TRIAL/ll-first/cat_dog_human_classifier.h5
/TRIAL/ll-first/my_image_classifier_model.keras
/TRIAL/ll-forth/dog_human_cat_classifier_cnn.h5
/TRIAL/ll-second/dog_human_cat_classifier_vgg16.h5
/TRIAL/ll-fifth/my_image_classifier_model_finetuned.keras
/TRIAL/third/dog_human_cat_classifier_cnn.h5
/TRIAL/third/dog_human_cat_classifier_vgg16.h5
/test/
/TRIAL/third/best_model.keras
/TRIAL/third/cat_dog_human_classifier.h5
/TRIAL/third/my_image_classifier_model.keras
/redd/
/sl-two/history-ilu.pkl
/FINAL/second-ag/history2-ag.pkl
/FINAL/second-ag/history_finetuned.pkl
/FINAL/second-ag/model2_augmented.h5
/FINAL/second-ag/model_finetuned_augmented.h5
/FINAL/second-ag/.ipynb_checkpoints/
/FINAL/first-ag/.ipynb_checkpoints/
/FINAL/first-ag/first_model-tf.h5
/FINAL/first-ag/first_model_da.h5
/FINAL/first-ag/history1_da.pkl
/FINAL/first-ag/history-f.pkl
/FINAL/.ipynb_checkpoints/
/FINAL/third-ag/.ipynb_checkpoints/
/FINAL/third-ag/history3_da.pkl
/FINAL/third-ag/history3_finetuned.pkl
/FINAL/third-ag/model3_ft.h5
/FINAL/third-ag/third_model_da.h5
